



<div id="form">
  <h1>Login</h1>
<div class="form">
  <form action="/login" method="POST">
    <div class="label">
    <label class="emailText"> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label class="passwordText">Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>
  </div>
    <% if (typeof errorMessage !== 'undefined') { %>
      <p><%= errorMessage %></p>
    <% } %>
  </div>
  </form>
</div>
</div>
