<div class='favoritesDiv'>
<h1>Your Favorite Surf Spots</h1> 

<div class="userFavoritesDiv">
    <ul class="timeline">
        <% for (let i = 0; i < userFavorites.length; i++) { %>
        <li class='userFavorites'>
            <div class='userFavoritesIndex'>
                <%= userFavorites[i] %>  
                <form method="POST" action="/favorites/<%= userFavorites[i] %>">
                    <button class="buttonDelete" type="submit">Delete Favorite</button>
                  </form>
            </div>
        </li>
        <% } %>
    </ul>
</div>
</div>