<div>
<h1>Forecast</h1>
<div>
  <% beachesResponse.forEach((spot) => { %>
    <ul>
      <li><a href="/forecast-detail/<%= spot.spotId %>"><%= spot.spotName %></a></li>
    <% }) %> 
    </ul>
</div>
</div>
