<nav class="menu">
    <ul>
      <li><a href="/">Home</a></li>  
      <li><a href="/forecast">Forecast</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </nav>


<p>Welcome Surfer!</p>
<a href="/login">Login</a>
<a href="/signup">Signup</a>



