
<div class="profileCard">
    <div class="profileInfo">
    <h1 class="helloSurfer">Hello Surfer!</h1>

    <p class="loggedInAs">Logged In as:</p> <% if (typeof userInSession !== 'undefined') { %>
        <p class="emailProfileLog"><%= userInSession.email  %></p>
        <% } %>
    </div>
</div>